<div class="s-testimonials" id="testimonials">
    <section id="testimonial" class="s-testimonial target-section">
        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">Referanslarım</h1>
            </div>
        </div>

        <div class="row testimonials">

            <div class="col-full testimonials__slider">

                <div class="testimonials__slide">
                    <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                    <p>
                       Alanında bilgi düzeyi, araştırma planlama ve sürdürme yeteneği, grupla çalışma becerisi, dürüstülüğü, çalışkanlığı ve
                       güvenilirliği üst düzeyde olan Sn.Ünal'ın ilerideki iş yaşamında aynı başarılı çizgiyi sürdüreceğine içtenlikle inanıyorum.
                    </p>
                    <div class="testimonials__author h06">
                        Dr. Osman Tolga KASKATI
                        <span>BYS Group, Ceo</span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="~/hola-master/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                    <p>
                        Kendisini yakından tanıma fırsatım oldu ve her zaman disiplinli, çalışkan ve son derece motive bir profesyonel olarak dikkat çekmiştir. 
                        Özellikle yazılım geliştirme ve problem çözme konularında güçlü bir yeteneğe sahiptir.
                    </p>
                    <div class="testimonials__author h06">
                        OĞUZHAN GÜLER
                        <span>Skorled, Ceo</span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="~/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                    <p>
                        Kendisini uzun süredir tanıyorum ve her zaman profesyonelliği, güvenilirliği ve öğrenmeye açık yapısıyla tanınan biri olmuştur. 
                        Yeni teknolojilere hızlı bir şekilde adapte olabilen ve karşılaştığı zorluklara yaratıcı çözümler sunabilen bir yeteneğe sahip.
                        İletişim becerileri ve takım çalışmasına yatkınlığı sayesinde, her ortamda fark yaratabilecek bir profesyoneldir.
                    </p>
                    <div class="testimonials__author h06">
                        Harun Benli
                        <span>İnfina, Ürün Yöneticisi Yardımcısı</span>
                    </div>
                </div>

            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

</div> <!-- end s-testimonials -->
